<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Rental List</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      /* Estilo para el fondo rojo en la parte superior */
      .top-background {
        background-color: #545357; /* Color rojo */
        color: rgb(0, 0, 0); /* Color de texto blanco para contraste */
        padding: 50px; /* Espaciado interno */
      }
    </style>
    <head th:replace="fragments/head :: head-content"></head>
  </head>
  <body>
    <div class="top-background">
      <div th:replace="fragments/navbar :: navbar"></div>
    </div>

    <div class="container mt-5">
      <h1 class="text-center">Rentals for User</h1>
      <div th:if="${#lists.isEmpty(rentals)}">
        <p class="text-center text-muted">No reservations made.</p>
      </div>
      <div th:unless="${#lists.isEmpty(rentals)}">
        <table class="table table-bordered table-striped mt-4">
          <thead class="thead-dark">
            <tr>
              <th>Rental ID</th>
              <th>Vehicle Make</th>
              <th>Vehicle Model</th>
              <th>Rental Date</th>
              <th>Return Date</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="rental : ${rentals}">
              <td th:text="${rental.id}"></td>
              <td th:text="${rental.vehicle.make}"></td>
              <td th:text="${rental.vehicle.model}"></td>
              <td th:text="${rental.rentalDate}"></td>
              <td th:text="${rental.returnDate}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Include the footer fragment -->
    <div th:replace="fragments/footer :: footer"></div>

    <!-- Include the footer fragment -->

    <div th:replace="fragments/scripts :: script-content"></div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
